.bio {
  margin: 2rem 0;
  width: 100%;
}

.bio-inner {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.bio h2 {
  font-size: 2rem;
}

.proPic {
  display: block;
  margin: 0 auto;
  border-radius: 12%;
}

.bioButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
