.bio {
  background-color: #E8F1DD;
  border: 5px solid #4C5C2D;
  border-radius: 12px;
  text-align: justify;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2 rem;
  margin-bottom: 2 rem;
}

.proPic {
  display: block;
  margin: 0 auto;
  border-radius: 12%;
}

.bioButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.bioButtons a button {
  padding: 0.5rem 1rem;
}

.bioButtons a button {
  color: white;
}