.build-container {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  gap: 20px;
}

.build-grid> :nth-child(3) {
  padding: 20px;
}

.section-1,
.section-2,
.section-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-2,
.section-3 {
  align-items: center;
}

.section-1,
.section-3 {
  background-color: #8A8635;
}

.section-2 {
  min-width: 0;
}

h2 {
  margin-top: .5rem;
  padding: 10px;
  text-align: center;
}

h3 {
  text-align: center;
}

.filterClass,
.ingredientClass {
  background-color: #E8F1DD;
  border: 5px solid #4C5C2D;
  border-radius: 12px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2rem;
}

.filterClass {
  padding-bottom: 30px;
}

.ingredientClass {
  min-width: 0;
  margin-bottom: 2rem;
  padding-left: 20px;
  padding-right: 20px;
}

.filterButtons,
.ingredientButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.FilterButton,
.IngredientButton {
  background-color: #4C5C2D;
  border: none;
  color: white;
  padding: 5px;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.FilterButton:hover,
.IngredientButton:hover {
  background-color: #8A8635;
  color: black;
}

.FilterButton.active,
.IngredientButton.selected {
  background-color: black;
  color: white;
  font-weight: bolder;
}

.IngredientButton:disabled {
  background-color: #E8F1DD;
  color: #E8F1DD;
}

.IngredientButton.disabled .emoji {
  opacity: 0;
  filter: blur(1px);
  transition: opacity 0.2s ease;
}

.IngredientButton:disabled:hover {
  color: #E8F1DD !important;
  background-color: #E8F1DD;
  cursor: not-allowed;
}

.dish,
.nonna,
.order {
  background-color: #E8F1DD;
  border: 5px solid #4C5C2D;
  border-radius: 12px;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2rem;
}

.order {
  max-width: 300px;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 2rem;
}

.costSummary {
  font-weight: bold;
  text-align:center;
}

.activeOrder {
    list-style-type: none;
    padding-left: 0;
}

.dishTotal {
  font-weight: bold;
  text-align: center;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 2px solid #4C5C2D;
}

.dish {
  min-width: 225px;
}

.dish button,
.order button {
  display: block;
  margin: 0.5rem auto 0 auto;
}

.dishEmoji,
.clipboardEmoji {
  font-size: 3rem;
}

.empty,
.emptyOrder {
  text-align: center;
}

.nonnaNeutral {
  display: block;
  margin: 0 auto;
  border-radius: 12%;
  height: 120px;
}