.build-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}

.section-1,
.section-2,
.section-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-1,
.section-3 {
  background-color: lightgreen;
}

h2 {
  margin-top: .5rem;
  padding: 10px;
  text-align: center;
}

h3 {
  text-align: center;
}

.filterClass,
.ingredientClass {
  background-color: rgb(252, 252, 118);
  border: 5px solid green;
  border-radius: 12px;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2rem;
}

.filterButtons,
.ingredientButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.FilterButton,
.IngredientButton {
  background-color: rgb(17, 158, 17);
  border: none;
  color: white;
  padding: 5px;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.FilterButton:hover,
.FilterButton:active,
.IngredientButton:hover,
.IngredientButton:active {
  background-color: lightgreen;
  color: black;
}

.IngredientButton:disabled {
  background-color: rgb(252, 252, 118);
}

.break {
  flex-basis: 100%;
  height: 0;
}

.dish,
.nonna,
.order {
  background-color: white;
  border: 5px solid green;
  border-radius: 12px;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2rem;
}

.nonnaNeutral {
    display: block;
  margin: 0 auto;
  border-radius: 12%;
  height: 120px;
}