.dish {
    min-width: 225px;
}

.dishTotal {
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 2px solid var(--olive-dark);
}

.dishEmoji {
    font-size: 3rem;
}

.dish ul {
  margin-left: 0;
  padding-left: 1rem; /* optional, for bullet spacing */
  width: 100%;
  display: block;
}

.dish ul,
.dish li {
  font-family: var(--readable-font);
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  /* width: 100%; */
}

.ingredientText {
  text-align: left;
  flex: 1; 
}

.activeIngredientsSelected {
    list-style-type: none;
    padding-left: 0;
}

.activeIngredientsSelected li {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.empty {
    text-align: center;
}

.dish button {
  display: block;
  margin: 0.75rem auto 0 auto;
}

.removeIngredientButton {
  all: unset; 
  background-color: black;
  color: white;
  width: 10px;
  height: 10px;
  font-size: 7px;
  line-height: 10px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}


.removeIngredientButton:hover {
  background-color: var(--neutral-700);
}
