footer {
  display: flex;
  justify-content: space-between;
  /* left | center | right */
  align-items: center;
  background-color: green;
  color: white;
  padding: 0 1rem;
  min-height: 70px;
}

.tagline {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

footer a {
  color: white;
}

.attributes {
  font-size: smaller;
}