input,
textarea,
button {
    font-family: inherit;
}

label {
    width: 80%;
    margin: 0 auto;
    display: block;
    text-align: left;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flex-container input {
    width: 40%;
    margin-left: 10%;
    box-sizing: border-box;
    text-align: left;
}

.flex-container textarea {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
}

.flex-container h2 {
    align-self: center;
    text-align: center;
}

.feedback {
    height: 70px;
}

.inputError {
    font-size: xx-small;
    color: var(--brand-maroon-dark);
    margin-left: 10%;
    width: 40%;
}