.foursquare-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 30px auto;
}

.foursquare-grid.animate-sequence {
  animation: sequenceRepeat 8s linear 4;
}

@media (min-width: 800px) {
  .foursquare-grid {
    grid-template-columns: repeat(4, auto);
    margin-left: 20px;
    margin-right: 20px;
  }
}

@keyframes sequenceRepeat {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

.square {
  padding: 0px 5px;
  border: 5px solid #40513B;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  background-color: #E8F1DD;
  opacity: 1;
  transform: scale(1);
}

.square:hover {
  background-color: #f5f8ef;
  box-shadow: 0 0 25px rgb(160, 235, 160);
}

.square.animate {
  animation: animationOne 2s ease forwards;
}

@keyframes animationOne {
  0% {
    opacity: .5;
    background-color: #8A8635;
    transform: scale(1.08);
  }

  100% {
    opacity: 1;
    background-color: #E8F1DD;
    transform: scale(1);
  }
}

@keyframes cycle {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.icon {
  font-size: 2.75rem;
}