.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: end;
  background-color: rgb(255, 38, 0);
  height: 20px;        /* fixed header height */
  padding: 0 1rem;
}

.logo {
  height: 75px;       
  width: auto;
}

.title {
  text-align: center;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 0.75rem;
  font-size: 1rem;                   
}

a {
  color: white;
  text-decoration: none;
}

header {
  background-color: rgb(255, 38, 0);
}

.header {
  min-height: 100px;
  color: white;
  display: flex;
  align-items: flex-end;      /* everything sticks to the bottom */
  justify-content: space-between;

}

.middle,
.right {
  display: flex;
  flex-direction: column;
}

.nav-links {
  display: flex;
  gap: 0.75rem;
  font-size: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

h2 {
    padding: 0;
}