.IngredientButton:disabled {
    background-color: var(--sage-lighter);
    color: var(--neutral-500);
    pointer-events: auto;
    cursor: not-allowed;
}

.IngredientButton:disabled .emoji {
    opacity: 0.5;
    filter: none;
}

.IngredientButton:disabled:hover {
    background-color: var(--sage-lighter);
    color: var(--neutral-500) !important;
}