.order {
    max-width: 300px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}

.costSummary {
    font-weight: bold;
    text-align: center;
}

.activeOrder {
    list-style-type: none;
    padding-left: 0;
}

.clipboardEmoji {
    font-size: 3rem;
}

.emptyOrder {
    text-align: center;
}

.order {
  min-width: 350px;
}

.order button {
  display: block;
  margin: 0.75rem auto 0 auto;
}
