body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.order-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.order {
  /* max-width: 350px; */
  min-width: 350px;
  min-height: 350px;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  font-size: x-large;
}

.order h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

.costSummary {
  font-weight: bold;
  text-align: center;
}

.activeOrder {
  list-style-type: none;
  padding-left: 0;
}

.activeOrder li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
}

.ingredientText {
  text-align: left;
  flex: 1; 
}

.clipboardEmoji {
  font-size: 3rem;
}

.emptyOrder {
  text-align: center;
}

.order button {
  display: block;
  margin: 0.75rem auto 0 auto;
}

.removeDishButton {
  all: unset;
  background-color: black;
  color: white;
  width: 10px;
  height: 10px;
  font-size: 7px;
  line-height: 10px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.removeDishButton:hover {
  background-color: var(--neutral-700);
}